doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascript Without Javascript

    link(rel='stylesheet', type='text/css', href='build/build.css')
  body

    article
      section

      section
        h2 A talk by this guy
        img(src="images/profile.jpeg", class="profile")
        h5
          a(href="http://twitter.com/CaseyLeask") @CaseyLeask

      section
        h1 Javascript Without Javascript

      section
        h1 What does that even mean?
        aside In a nutshell, how do I get the benefits of what I use JS for, without relying on it?

      section
        h1 Why wouldn't I just use JS?
        aside Because you cannot rely on JavaScript

      section
        h1 Does your site work for your visitors?
        ul
          li Screen readers
          li Google
          li 3G connections
          li Old browsers

      section
        h1 If you don't care about any of those things, go for it

      section
        h3 Do you do this?
        pre
          code.language-markup.
            &lt;script
              src="https://ajax.googleapis.com/../jquery.min.js"&gt;
            &lt;/script src&gt;

      section
        h1 You shouldn't

      section
        h4 Google has no SLA with you

      section
        h2 You cannot assume JS will always work
        ul
          li External CDNs
          li Network failures
          li Coding errors
          li Browser plugins
          li 
            a(href="http://www.eveonline.com/universe/spaceships/") Cross Origin problems

      section
        h1 Why am I so cranky?

      section
        h1 A look at where have we come from

      section
        h2 History of the web
        h4 The first webpage (90')

      section
        h3 How it looked then
        img(src="images/line-reader.png")

      section
        h3 How it looks now
        img(src="images/first.png")

      section
        pre
          code.language-markup.
            &lt;HEADER&gt;
            &lt;TITLE&gt;The World Wide Web project&lt;/TITLE&gt;
            &lt;NEXTID N="55"&gt;
            &lt;/HEADER&gt;
            &lt;BODY&gt;
            &lt;H1&gt;World Wide Web&lt;/H1&gt;The WorldWideWeb (W3) is a wide-area&lt;A
            NAME=0 HREF="WhatIs.html"&gt;
            hypermedia&lt;/A&gt; information retrieval
            initiative aiming to give universal
            access to a large universe of documents.&lt;P&gt;
            Everything there is online about
            W3 is linked directly or indirectly
            to this document, including an &lt;A
            NAME=24 HREF="Summary.html"&gt;executive
            summary&lt;/A&gt; of the project, &lt;A
            NAME=29 HREF="Administration/Mailing/Overview.html"&gt;Mailing lists&lt;/A&gt;
            , &lt;A
            NAME=30 HREF="Policy.html"&gt;Policy&lt;/A&gt; , November's  &lt;A
            NAME=34 HREF="News/9211.html"&gt;W3  news&lt;/A&gt; ,
            &lt;A
            NAME=41 HREF="FAQ/List.html"&gt;Frequently Asked Questions&lt;/A&gt; .
            &lt;DL&gt;
            &lt;DT&gt;&lt;A
            NAME=44 HREF="../DataSources/Top.html"&gt;What's out there?&lt;/A&gt;
            &lt;DD&gt; Pointers to the
            world's online information,&lt;A
            NAME=45 HREF="../DataSources/bySubject/Overview.html"&gt; subjects&lt;/A&gt;
            , &lt;A
            NAME=z54 HREF="../DataSources/WWW/Servers.html"&gt;W3 servers&lt;/A&gt;, etc.
            &lt;DT&gt;&lt;A
            NAME=46 HREF="Help.html"&gt;Help&lt;/A&gt;
            &lt;DD&gt; on the browser you are using
            &lt;DT&gt;&lt;A
            NAME=13 HREF="Status.html"&gt;Software Products&lt;/A&gt;
            &lt;DD&gt; A list of W3 project
            components and their current state.
            (e.g. &lt;A
            NAME=27 HREF="LineMode/Browser.html"&gt;Line Mode&lt;/A&gt; ,X11 &lt;A
            NAME=35 HREF="Status.html#35"&gt;Viola&lt;/A&gt; ,  &lt;A
            NAME=26 HREF="NeXT/WorldWideWeb.html"&gt;NeXTStep&lt;/A&gt;
            , &lt;A
            NAME=25 HREF="Daemon/Overview.html"&gt;Servers&lt;/A&gt; , &lt;A
            NAME=51 HREF="Tools/Overview.html"&gt;Tools&lt;/A&gt; ,&lt;A
            NAME=53 HREF="MailRobot/Overview.html"&gt; Mail robot&lt;/A&gt; ,&lt;A
            NAME=52 HREF="Status.html#57"&gt;
            Library&lt;/A&gt; )
            &lt;DT&gt;&lt;A
            NAME=47 HREF="Technical.html"&gt;Technical&lt;/A&gt;
            &lt;DD&gt; Details of protocols, formats,
            program internals etc
            &lt;DT&gt;&lt;A
            NAME=40 HREF="Bibliography.html"&gt;Bibliography&lt;/A&gt;
            &lt;DD&gt; Paper documentation
            on  W3 and references.
            &lt;DT&gt;&lt;A
            NAME=14 HREF="People.html"&gt;People&lt;/A&gt;
            &lt;DD&gt; A list of some people involved
            in the project.
            &lt;DT&gt;&lt;A
            NAME=15 HREF="History.html"&gt;History&lt;/A&gt;
            &lt;DD&gt; A summary of the history
            of the project.
            &lt;DT&gt;&lt;A
            NAME=37 HREF="Helping.html"&gt;How can I help&lt;/A&gt; ?
            &lt;DD&gt; If you would like
            to support the web..
            &lt;DT&gt;&lt;A
            NAME=48 HREF="../README.html"&gt;Getting code&lt;/A&gt;
            &lt;DD&gt; Getting the code by&lt;A
            NAME=49 HREF="LineMode/Defaults/Distribution.html"&gt;
            anonymous FTP&lt;/A&gt; , etc.&lt;/A&gt;
            &lt;/DL&gt;
            &lt;/BODY&gt;

      section
        p The first tags
        pre
          code.language-markup.
            &lt;TITLE&gt; TITLE &lt;/TITLE&gt;
            &lt;NEXTID 27&gt;
            Base address (not yet specified or used)
            &lt;A NAME=xxx HREF=XXX&gt; ANCHORS &lt;/A&gt;
            &lt;ISINDEX&gt;
            &lt;PLAINTEXT&gt;
            &lt;LISTING&gt;
            ...
            &lt;/LISTING&gt;
            &lt;P&gt;
            &lt;H1&gt;, &lt;H2&gt;, &lt;H3&gt;, &lt;H4&gt;, &lt;H5&gt;, &lt;H6&gt;
            &lt;ADDRESS&gt; text ... &lt;/ADDRESS&gt;
            &lt;HP1&gt;...&lt;/HP1&gt;   &lt;HP2&gt;... &lt;/HP2&gt; etc.
            &lt;DL&gt;
              &lt;DT&gt;Term&lt;DD&gt;definition pagagraph
              &lt;DT&gt;Term2&lt;DD&gt;Definition of term2
            &lt;/DL&gt;
            &lt;UL&gt;
              &lt;LI&gt; list element
              &lt;LI&gt; another list element ...
            &lt;/UL&gt;
            &lt;MENU&gt;&lt;/MENU&gt;
            &lt;DIR&gt;&lt;/DIR&gt;

      section
        h2
          a(href="http://www.w3.org/History/19921103-hypertext/hypertext/WWW/MarkUp/Tags.html") Still viewable here

      section
        h5 The first HTML Proposal (93')
        a(href="http://www.w3.org/MarkUp/draft-ietf-iiir-html-01.txt") "Hypertext Markup Language (HTML)" Internet-Draft 
        p Included:
        ul
          li HEAD
          li PRE
          li Comments
          li IMG (!)
          li DTDs
        aside with alt tags

      section
        h2 The draft expired.
        h2 HTML 1 never existed.

      section
        h4 HTML 2 (95') brought:
        a(href="http://www.w3.org/MarkUp/html-spec/html-spec_toc.html") Hypertext Markup Language - 2.0
        ul
          li User Agents
          li URIs
          li Image maps
          li Forms

      section
        marquee(direction="down", width="700px", height="200px", behavior="alternate", style="border:solid")
          marquee(behavior="alternate")
            pre &lt;marquee&gt; added to IE2 (95')

      section
        h4 Subsequent RFCs added:
        ul
          li File upload
          li tables
          li client-side image maps
          li Internationalization

      section
        h2 Then there were Tables. So many tables.
        a(href="http://web.archive.org/web/19961020014044/http://www.microsoft.com/") Microsoft in 1996

      section
        h4 Cascading Style Sheets
        h4 level 1 (96')
        ul
          li Selectors
          li Fonts
          li Color
          li Backgrounds (including images)
          li Text properties
          li Box properties
        aside Selectors, fonts, color, text, box properties, units

      section
        h4 HTML 3.2 Published (97')
        ul
          li Applets
          li text flow around images
          li superscripts and subscripts
          li developed with browser vendors
          li Sadly, &lt;blink&gt; and &lt;marquee&gt; were omitted

      section
        h4 Graceful Degradation (98?)
        aside design for the best, then provide fallbacks

      section
        h4 HTML 4.01 (99')
        p Style sheets, scripting, frames, embedding objects, improved right to left and mixed direction text, richer tables, and enhancements to forms, improving accessibility for people with disabilities.

      section
        h2 ECMAScript 3rd Edition (99')
        p A standard version of JS that browsers can share

      section
        h5
         blink &lt;blink&gt; added to HTML4 (99')
        a(href="http://www.w3.org/Style/HTML40-plus-blink.dtd") Yes, there is a W3 Spec

      section
        h4 The Holy Grail layout (2001)
        .holygrail
          header header
          main
            article article
            nav nav
            aside aside
          footer footer

      section
        h3 Progressive Enhancement
        h4 (2003)
        aside design for the worst, then build in better functionality for those that support it

      section
        h2 XMLHttpRequest (2005)
        p The start of modern day AJAX

      section
        h4 CSS Level 2 Revision 1
        h4 (CSS 2.1) 2004 - 2011
        ul
          li visibility
          li position
          li overflow
          li max/min height/width
          li most selectors
        aside Candidate Recommendation in 2004, Working Draft 2005, Candidate Recommendation 2007, updated twice in 2009, Last Call Working Draft on 7 December 2010, W3C Recommendation on 7 June 2011.

      section
        h2 ECMAScript 5th Edition (2009)
        ul
          li Strict Mode
          li JSON.parse, JSON.stringify
          li bind
          li map, reduce, filter, forEach..

      section
        h2 CoffeeScript (2009)
        ul
          li Pattern Matching
          li List Comprehensions
          li Arrow functions
          li String Interpolation
          li Significant Whitespace (!)

      section
        img(src="images/html5-taxonomy.svg")
        aside
          2008 – First Public Working Draft
          2011 – Last Call
          2012 – Candidate Recommendation
          2014 – Proposed Recommendation and Recommendation

      section
        img(src="images/css3-taxonomy.svg")

      section
        h2 Single Page Apps (2011)
        aside backbone, angular, ember

      section
        pre
          code.language-markup.
            &lt;!DOCTYPE html&gt;
            &lt;html&gt;
              &lt;head&gt;
              &lt;/head&gt;
              &lt;body&gt;
                &lt;div id="wrapper"&gt;
                &lt;/div&gt;
                &lt;script src="main.js" /&gt;
              &lt;/body&gt;
            &lt;/html&gt;

      section
        h1 Progressive JS (2013)
        aside Accessibility / SEO

      section
        pre
          code.language-markup.
            &lt;!DOCTYPE html&gt;
            &lt;html&gt;
              &lt;head&gt;
              &lt;/head&gt;
              &lt;body&gt;
                &lt;div id="wrapper"&gt;
                  &lt;p&gt;Actual content&lt;/p&gt;
                &lt;/div&gt;
                &lt;script async src="main.js" /&gt;
              &lt;/body&gt;
            &lt;/html&gt;

      section
        h1 HTML 5.1
        h2 (2012 - 2016?)
        aside
          2012 - First Working Draft
          2014 - Last Call
          2015 - Candidate Recommendation
          2016 - Recommendation

      section
        h2 ECMAScript 6 (2015)
        p Community driven

      section
        h1 My project

      section
        h3 When making decisions
        h3 I had two questions

      section
        h1 How do we create something maintainable?

      section
        h1 How do we use all the new goodness?

      section
        h1 Use standards.

      section
        h3 Use stable, strongly supported languages and dependencies
        
      section
        h2 Reduce code duplication

      section
        h2 Have a clear separation of responsibilities

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Emphatic Slide!
        h4 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h3 References
        br
        ul
          li
            a(href="http://www.wdtonline.com/wdtMagazine/MemberWorks/WiserWays/csshtml.htm") http://www.wdtonline.com/wdtMagazine/MemberWorks/WiserWays/csshtml.htm
          li
            a(href="http://alistapart.com/article/a-brief-history-of-markup") http://alistapart.com/article/a-brief-history-of-markup
          li
            a(href="http://en.wikipedia.org/wiki/HTML#HTML_versions_timeline") http://en.wikipedia.org/wiki/HTML#HTML_versions_timeline
          li
            a(href="http://www.w3.org/TR/REC-html40-971218/intro/intro.html") http://www.w3.org/TR/REC-html40-971218/intro/intro.html

    script(src='build/build.js')
