doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascript Without Javascript

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
      section
        h1 Javascript Without Javascript

      section
        h2 By this guy
        img(src="images/profile.jpeg", class="profile")
        a(href="http://twitter.com/CaseyLeask") @CaseyLeask

      section
        h3 When making decisions
        h3 I had two questions

      section
        h1 How do we create something maintainable?

      section
        h1 How do we use all the new goodness?

      section
        h1 Use standards.

      section
        h3 Use stable, strongly supported languages and dependencies
        
      section
        h2 Reduce code duplication

      section
        h2 Have a clear separation of responsibilities

      section
        h4 Syntax Highlighting
        h5 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch()
            ]);

      section(data-bespoke-hash='named-route')
        h3 Named Route
        h5 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Emphatic Slide!
        h4 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h3 Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
